<html>
<head>
<title>My first angular app</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
<div ng-app="myapp" ng-controller="myctrl1">
FName <input type="text" ng-model="firstname">
LName <input type="text" ng-model="lastname">
<p> <span ng-bind ="firstname"></p>
<p> {{lastname}}</p>
</div>
<script>
var m=angular.module("myapp",[]);
m.controller("myctrl1",function($scope){
$scope.firstname="subiksha";
$scope.lastname="senthilkumar";
});
</script>
</body>
</html>